<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HighlightColor</key>
	<string>DEB96C</string>
	<key>DarkenColor</key>
	<string>727171</string>
	<key>NormalColor</key>
	<string>FFFFFF</string>
	<key>BackgroundColor</key>
	<string>000000</string>
	<key>BorderColor</key>
	<string>646464</string>
	<key>Cell.BackgroundColor</key>
	<string>1B1B1B</string>
	<key>Main.TabBar.SelectedTextColor</key>
	<string>A3813D</string>
	<key>Main.TabBar.NormalTextColor</key>
	<string>939393</string>
	<key>Main.TabBar.BadgeTextFontColor</key>
	<string>FFFFFF</string>
	<key>Order.EnsureOrdering.FontColor</key>
	<string>E9A83D</string>
	<key>Order.Empty.FontColor</key>
	<string>888888</string>
	<key>Login.HighlightColor</key>
	<string>BE9C54</string>
	<key>Login.Button.BackgroundColor</key>
	<string>AA1F24</string>
</dict>
</plist>
